.add-hero-form,
.edit-hero-form {
  display: flex;
  background-color: #dedfe9;
  padding: 1rem 2rem;
  margin: 1rem;
  width: 100%;
  max-width: 30rem;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 27px -7px rgb(0, 0, 0);
  color: black;
  /* align-items: center; */
  font-family: "Playpen Sans", cursive;

  p {
    padding: 0 2rem;
  }
  button {
    margin-top: 3rem;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.356);
    width: fit-content;
    align-self: center;
  }

  label {
    margin: 0 1rem 0 0;
    font-weight: 600;
  }

  .add-hero-input,
  .edit-hero-input {
    /* border: 1px solid rgba(0, 0, 0, 0.158);
    margin: 2px 0; */
    border: 0;
    margin: 0;
    padding: 0.5rem 0;
  }

  .powerstats {
    box-shadow: 0px 0px 10px -3px rgba(23, 0, 105, 0.664);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  .powerstats-headline {
    padding: 0;
    margin: 0.5rem 0;

    font-weight: 600;
    font-size: 1rem;
  }

  @media (max-width: 757px) {
    max-width: 20rem;
    input {
      max-width: 10rem;
    }

    label {
      margin-right: 0.5rem;
      font-weight: 400;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 400px) {
    max-width: 15rem;
  }
}
