footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: #f0cca4;
  font-size: 2rem;
  border-top: 1px solid #1e0335;
  background-color: #1b3b73bb;
  font-family: "Caveat", cursive;
  width: 100%;

  p {
    margin: 1rem;
    text-align: center;
  }

  @media (max-width: 640px) {
    margin-top: 2rem;

    p {
      font-size: 1.8rem;
    }
  }
}
