footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  color: #f0cca4;
  font-size: 1.2rem;
  border-top: 1px solid #1e0335;
  background-color: #1b3b736b;
  font-family: "Playpen Sans", cursive;

  p {
    margin: 0.5rem 1rem;
  }

  a {
    text-decoration: none;
    color: #f0cca4;
    margin-right: 1rem;
    font-family: "Playpen Sans", cursive;
  }
}
