.header {
  background-color: #1b3c73;
  margin: 0;
  padding: 0.5rem 1rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #1e0335;
  position: relative;
  
  h1 {
    font-size: 3.2rem;
    font-family: "Oooh Baby", cursive;
    font-weight: 600;
    margin: 0 0 0 2rem;
  }
}


.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-center:hover {
  text-decoration: none;
  transform: none;
  transition: none;
}

.header-links {
  margin-right: 2rem;
  gap: 2rem;
  font-size: 1.2rem;
}

.header-links h2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

a {
  color: #f0cca4;
  text-decoration: none;
  font-weight: 400;
  font-family: "Combo", display;
}

img {
  width: 8rem;
  height: auto;
  margin: 0 1rem;
}

@media (max-width: 1000px) {
  .header {
    h1 {
      margin: 0;
      font-size: 3rem;
    }
  }
}

@media (min-width: 640px) {
  .header-links {
    gap: 2rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  .header {
    justify-content: center;
  }

  a {
    font-family: "Playpen Sans", cursive;
    font-size: 1.1rem;
  }
  .logo-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

  img {
    width: 30%;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .text-center {
    margin-top: 0.5rem;
  }
}
