.hero-card {
  background-color: #dedfe9;
  padding: 1rem 2rem;
  margin: 1rem;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 27px -7px rgb(0, 0, 0);
  color: black;

  p {
    margin: 0.5rem 0;
    font-family: "Playpen Sans", cursive;
  }

  h1 {
    font-size: 2.5rem;
    font-family: "Oooh Baby", cursive;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem 0;
  }

  img {
    width: 40%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .powerstats {
    padding: 0 1rem;
    margin: 1.5rem 0;
    box-shadow: 0px 0px 10px -3px rgba(23, 0, 105, 0.664);
    border-radius: 10px;
  }

  .details-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 1rem 0;
    gap: 0.3rem;

    p {
      text-decoration: none;
      background: linear-gradient(to right, rgba(117, 94, 197, 0.664), rgba(23, 0, 105, 0.664)),
        linear-gradient(to right, rgb(44, 161, 182), rgb(128, 169, 202), rgb(88, 98, 213));
      background-size: 100% 2px, 0 2px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: 0.2s ease-in-out;
    }

    p:hover {
      background-size: 0 2px, 100% 2px;
    }
  }
  .alignment.good {
    color: green;
    font-weight: bold;
  }

  .alignment.bad {
    color: red;
    font-style: italic;
  }

  .add-btn {
    margin: 1.2rem 0;
  }

  .remove-btn,
  .edit-btn {
    box-shadow: none;
    padding: 0.5rem;

    .deleteBtn,
    .editBtn {
      font-size: 2rem;
    }
  }

  .power-attributes {
    font-weight: 400;
    display: flex;
    gap: 0.2rem;
    align-items: center;

    /* .star {
      color: #e6b30d;
    } */
  }
  @media (max-width: 757px) {
    max-width: 20rem;

    h1 {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 400px) {
    max-width: 15rem;
  }
}
