@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url(https://fonts.bunny.net/css?family=combo:400);
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: black;
  background-color: #fefcf3;
  margin: 0;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #f0cca4;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 3rem; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Playpen Sans", cursive;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 0px 27px -7px rgb(0, 0, 0);
  background-color: #dedfe9;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.not-found {
  margin-top: 3rem;
  p {
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
}

.new-hero-btn {
  margin: 2rem 0;
}
