.no-heroes-msg {
  text-align: center;
  font-size: 1.2rem;
}

.my-team-card {
  padding: 0 2rem;
}

.created-heroes,
.favorite-heroes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 1rem;

  /* width: 100%; */
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Oooh Baby", cursive;
  margin-top: 2rem;
}

.my-team-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.my-team-add-btn {
  margin: 1rem 0;
}

.remove-btn,
.edit-btn {
  box-shadow: none;
  /* border: 1px solid rgba(0, 0, 0, 0.356); */
  margin-top: 2rem;

  .deleteBtn,
  .editBtn {
    font-size: 2rem;
  }
}

.heroes-headline {
  font-family: "Combo", display;
  font-weight: 600;
  font-size: 2.2rem;
}

.remove-btn:hover {
  transform: scale(1.1);
}
.edit-btn:hover {
  transform: scale(1.1);
}
.edit-delete {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .created-heroes,
  .favorite-heroes {
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
  }

  @media (max-width: 757px) {
    .created-heroes,
    .favorite-heroes {
      grid-template-columns: 1fr;
    }
  }
}
