.no-heroes-msg {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Playpen Sans", cursive;
  margin: 1rem;
}

.my-team-card {
  padding: 0 2rem;
}

.created-heroes,
.favorite-heroes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Oooh Baby", cursive;
  margin: 2rem 0;
}

.my-team-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;

  .heroes-headline {
    font-family: "Combo", display;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1b3b73d3;
  border-radius: 10px;
  padding: 0 3rem 1rem 3rem;
  border: 1px solid #1e0335;

  p {
    font-family: "Playpen Sans", cursive;
    font-size: 1.1rem;
  }

  .navigation-buttons {
    display: flex;
    gap: 1.5rem;

    a {
      font-family: "Playpen Sans", cursive;
      font-size: 1.2rem;
    }

    a:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }
}

.my-team-add-btn {
  margin: 1rem 0;
}

.remove-btn:hover {
  transform: scale(1.1);
}
.edit-btn:hover {
  transform: scale(1.1);
}
.edit-delete {
  display: flex;
  justify-content: space-between;
}

.statistics {
  text-align: center;
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
  background-color: #1b3b73d3;
  border-radius: 10px;
  padding: 1rem 3rem 3rem 3rem;
  border: 1px solid #1e0335;
  h3 {
    font-family: "Playpen Sans", cursive;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

#created-members,
#recruits,
#statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (max-width: 1000px) {
  .created-heroes,
  .favorite-heroes {
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
  }

  @media (max-width: 757px) {
    .created-heroes,
    .favorite-heroes {
      grid-template-columns: 1fr;
    }

    .statistics {
      flex-direction: column;
      padding: 0 2rem 3rem 2rem;
    }

    .navigation-buttons {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    .scroll-to-top-btn {
      display: none;
    }
  }
}
