.my-team-card {
  padding: 0 2rem;
}

.created-heroes,
.favorite-heroes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 1rem;

  /* width: 100%; */
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Oooh Baby", cursive;
}

.my-team-container {
  max-width: 1000px;
  margin: 0 auto;
}

.my-team-add-btn {
  margin: 2rem 0 5rem;
}

.remove-btn {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.356);
  margin-top: 2rem;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
}

.remove-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 757px) {
  .created-heroes,
  .favorite-heroes {
    grid-template-columns: 1fr;
  }
}
