.search-header {
  margin-right: 0;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  margin: 0 3rem;
}

.search-result-item {
  margin: 1rem;
  width: 80%;
  font-size: 1rem;

  h1 {
    font-size: 2rem;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 10rem;
  font-family: "Playpen Sans", cursive;
  background-color: #1b3b73d3;
  margin: 1rem 2rem 3rem 2rem;
  border-radius: 10px;
  border: 1px solid #1e0335;

  label {
    font-size: 1.2rem;
    font-weight: 600;
  }
  select {
    margin: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  input {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
  }
  button {
    margin-top: 1rem;
  }

  .human-alien-btn {
    margin-bottom: 1.5rem;
    .human-alien-headline {
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }
    label {
      font-weight: 400;
      margin: 0 1rem;
      cursor: pointer;
    }
    input {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  button {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
  }

  .active {
    color: rgb(255, 255, 255);
    background-color: #407ee7bb;
  }
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .back-to-top-btn {
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
  }
}

.search-message {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Playpen Sans", cursive;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .search-form {
    margin: 2rem 7rem;
    label {
      font-weight: 400;
    }
  }
}

@media (max-width: 1000px) {
  .search-form {
    padding: 2rem 5rem;
  }

  .search-message {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
}

@media (max-width: 757px) {
  .search-results {
    grid-template-columns: 1fr;
  }

  .search-form {
    padding: 2rem 3.5rem;
    .human-alien-btn {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      .human-alien-headline {
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }
      label {
        font-weight: 400;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}
